.settingpage{
    display: none;
    position: absolute;
    border: 1px solid rgb(0, 138, 138);
    top: 12.5vh;
    left: 95%;
    transform: translate(-90%, -10%);
    background-color: hsla(160, 90%, 88%);
    width: 350px;
    min-height: 8vh;
    border-radius: 2.5vh;
    padding: 10px;
    color: rgba(255, 255, 255, 0.05);
    font-size: 1rem;
}

.titlechange{
    display: inline-flex;
    max-width: 300px;
    min-height: 7vh;
    margin: 1vh 0;
    padding: 2.5px;
    /*border-bottom: 2px solid rgb(0, 138, 138);
    border-top: 2px solid rgb(0, 138, 138);*/

}

.titlelist{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    min-height: 7vh;
    padding: 1.5vh 1.5%;
}

.title-in{
    max-width: 250px;
    min-height: 6vh;
    border-radius: 1vh;
    background: none;
    border: none;
    padding: 0 10px;
    margin-right: 6px;
    color: rgba(2, 12, 15, 0.712);
    font-size: 1rem;
}

.title-in:focus {
    background-color: white;
}

.title-bn{
    width: 60px;
    min-height: 6vh;
    text-align: center;
    background: none;
    border: none;
    padding: 0 5px;
    font-size: 1rem;
    cursor: pointer;
}

.title-bn:hover{
    background-color: rgb(0, 138, 138);
    border-radius:1.5vh;
    transition: 0.5s;
}


.setting-on-bn{
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    border-radius: 50%;
}

.setting-on-bn:hover{
    cursor: pointer;
}

@media (min-width:300px) and (max-width:800px) {        
    .settingpage{
        left: 90%;
        width: 250px;
        min-height: 5vh;
        border-radius: 1.25vh;
        padding: 5px;
    }

    .titlechange{
        max-width: 250px;
        min-height: 4vh;
        margin: 0.5vh 0;
        padding: 1.2px;
    
    }
    
    .titlelist{
        max-width: 250px;
        min-height: 4vh;
        padding: 0.5vh 0.5%;
    }
    
    .title-in{
        max-width: 200px;
        min-height: 4vh;
        border-radius: 1vh;
        padding: 0 5px;
        margin-right: 2px;
        color: rgba(2, 12, 15, 0.712);
        font-size: 0.75rem;
    }
    
    .title-in:focus {
        background-color: white;
    }
    
    .title-bn{
        width: 60px;
        min-height: 4vh;
        padding: 0 2.5px;
        font-size: 0.75rem;
    }
 }
